<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indumentaria - Tienda Online</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            margin-bottom: 30px;
        }

        h1 {
            font-size: 2rem; /* Tamaño del texto */
            color: darkblue; /* Color del texto */
            text-align: center; /* Alineación centrada */
            text-transform: uppercase; /* Convertir texto a mayúsculas */
            letter-spacing: 2px; /* Espaciado entre letras */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra del texto */
            margin-top: 10px;
        }
        h2{
          font-size: 1.6rem; /* Tamaño del texto */
          color: darkblue; /* Color del texto */
          text-align: center; /* Alineación centrada */
        }

        .btn-group {
            display: flex;
            justify-content: space-between;
        }

        .btn-group a {
            margin-right: 10px;
        }

        .card {
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 5px;
            transition: box-shadow 0.3s ease;
        }

        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 1.25rem;
            text-align: center;
            height: 435px;
            background-color: rgb(245, 209, 209);
        }

        .card-title {
            font-size: 1.25rem;
            font-weight: 800;
            color: darkgreen;
            text-align: center;
            margin-bottom: 10px;
        }

        .card-text {
            margin-bottom: 0.5rem;
            text-align: center;
        }

        .btn-cart {
            color: white !important;
        }

        .footer {
            text-align: center;
            margin-top: 15px;
            padding-top: 10px;
            border-top: 1px solid #ccc;
            background-color:#101010;
            color: white;
        }
        .div--perfil-logout{
          display: flex;
          justify-content: end;
        }
        @media (max-width: 576px) {
          h1{
            font-size: 1.2rem;
          }
          h2{
            font-size: 1rem;
          }
          .div--perfil-logout{
            justify-content: center;
          }
        }
    </style>
</head>
<body>
    <div class="container bg-light">
        <!-- Header -->
        <div class="mb-3">
            <div class="div--perfil-logout">
                <a href="/api/sessions/current" class="btn btn-success ml-3">Perfil</a>
                <form action="/api/sessions/logout" method="post">
                    <button type="submit" class="btn btn-danger ml-3">Cerrar sesión</button>
                </form>
            </div>
            <h1>Indumentaria - Tienda Online</h1>
        </div>
        
        <!-- Navegación -->
        <nav class="navbar navbar-expand-lg navbar-light mb-3">
            <div class="navbar-collapse">
                <ul class="navbar-nav d-flex flex-row justify-content-between mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-success mr-2" href="/chat">Ir al Chat</a>
                    </li>
                    {{#if isAdmin}}
                        <li class="nav-item">
                            <a class="btn btn-primary mr-2" href="/api/products/manager">Gestionar Productos</a>
                        </li>
                    {{/if}}
                    {{#if isPremium}}
                        <li class="nav-item">
                            <a class="btn btn-primary mr-2" href="/api/products/manager">Gestionar Productos</a>
                        </li>
                    {{/if}}
                    {{#unless isAdmin}}
                        <li class="nav-item">
                            <a class="btn btn-primary" href="/api/carts/{{cartId}}" id="cart-link">Ir a Carrito</a>
                        </li>
                    {{/unless}}
                    {{#if isAdmin}}
                        <li class="nav-item">
                            <a class="btn btn-primary" href="/api/users">Administrar Usuarios</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </nav>

    <h2><strong>Bienvenido Usuario:</strong>  {{user.email}} <br> <strong>Rol:</strong> {{user.role}}</h2>

    <div class="row" id="products-container">
      {{#each products}}
      <div class="col-md-4">
        <div class="card  mb-3 d-flex flex-column">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <img src="{{this.thumbnail}}" width="200" height="200" alt="Imagen del producto">
            <p class="card-text"><strong>Descripción:</strong> {{this.description}}</p>
            <p class="card-text"><strong>Precio por unidad:</strong> {{this.price}}</p>
            <p class="card-text"><strong>Categoría:</strong> {{this.category}}</p>
            <button class="add-to-cart-btn btn btn-success" data-product-id="{{this._id}}">Agregar al Carrito</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <!-- Pagination -->
    <div class="pagination d-flex justify-content-center mt-3">
      {{#if prevPage}}
      <a href="/api/products?{{queryString}}&page={{prevPage}}" class="btn btn-primary">Anterior</a>
      {{else}}
      <button class="btn btn-primary" disabled>Anterior</button>
      {{/if}}

      <span class="mx-3">Página {{page}}</span>

      {{#if nextPage}}
      <a href="/api/products?{{queryString}}&page={{nextPage}}" class="btn btn-primary">Siguiente</a>
      {{else}}
      <button class="btn btn-primary" disabled>Siguiente</button>
      {{/if}}
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <p class="m-0">Sebastian Macchia &copy; {{year}}</p>
  </div>

  <!-- Bootstrap JS (opcional si necesitas funcionalidad de Bootstrap) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
  $(document).ready(function () {
      const year = new Date().getFullYear();
      $('.footer p').html(`Sebastian Macchia &copy; ${year}`);

      $(document).on('click', '.add-to-cart-btn', function (event) {
        event.preventDefault();
        const productId = $(this).data('product-id');
        const cartId = '{{cartId}}'; // Asumiendo que esta interpolación se maneja correctamente
        const quantity = 1;

        $('#cart-link').attr('href', '/api/carts/' + cartId);

        // Suponiendo que isAdmin se maneja correctamente como una variable booleana
        if ({{isAdmin}}) {
          Swal.fire({
            icon: 'error',
            title: 'Acción no permitida',
            text: 'Usted es administrador. Los administradores no pueden agregar productos al carrito.',
          });
          return;
        }

        $.ajax({
          url: '/api/carts/' + cartId + '/products/' + productId,
          type: 'PUT',
          contentType: 'application/json',
          data: JSON.stringify({ quantity: quantity }),
          success: function (response) {
            Swal.fire({
              icon:'success',
              title: 'Producto agregado al carrito exitosamente',
              showDenyButton: true,
              showCancelButton: false,
              confirmButtonText: 'Seguir comprando',
              denyButtonText: 'Ir al carrito',
            }).then((result) => {
              if (result.isConfirmed) {
                // Acción para seguir comprando: simplemente cerrar la alerta
                Swal.close();
              } else if (result.isDenied) {
                // Redirigir al carrito
                window.location.href = '/api/carts/' + cartId;
              }
            });
          },
          error: function (error) {
            console.error('Error al agregar el producto ' + productId + ' al carrito:', error);
            if (error.status === 403) {
              Swal.fire({
                icon: 'error',
                title: 'Acción no permitida',
                text: 'No puedes agregar un producto que te pertenece',
              });
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Error al agregar el producto al carrito',
              });
            }
          }
        });

      });

      $('#chat-link').click(function (event) {
        if ({{isAdmin}}) {
          event.preventDefault();
          Swal.fire({
            icon: 'error',
            title: 'Acción no permitida',
            text: 'Usted es administrador. Los administradores no pueden acceder al chat.',
          });
        }
      });

      $('#cart-link').click(function (event) {
        if ({{isAdmin}}) {
          event.preventDefault();
          Swal.fire({
            icon: 'error',
            title: 'Acción no permitida',
            text: 'Usted es administrador. Los administradores no pueden acceder al carrito.',
          });
        }
      });

    });

  </script>
</body>
</html>
